<h1>@ViewBag.ThaiDuong</h1>
<form asp-action = "Index">
 <input type="text" name="EmployeeID" placeholder="Nhap ID">
    <input type="text" name="Age" placeholder="Nhap tuoi">
    <input type="submit" value="send">
</form>    